@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faustina&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Faustina", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("https://bncollegebgp.ac.in/wp-content/uploads/2019/01/Bhagalpur-National-College-768x512.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2% 3%;
}

.logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.logo-div img {
    width: 40px;
}

.logo-div h1 {
    font-weight: 900;
    font-size: 30px;
    color: #fff;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 45px;
    font-family: "Londrina Shadow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-box p {
    margin: 15px 0 20px;
    font-size: 17px;
    font-family: "Faustina", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 30px;
    margin-top: 15px;
    background: transparent;
    position: relative;
    font-size: 17px;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa-solid {
    display: none;
}

/* media queary  */

@media (max-width:700px) {

     .header{
        overflow: hidden;
     }
    .logo-div h1 {
        font-size: 20px;
    }
    .text-box h1 {
        font-size: 25px;
    }

    .text-box p {
        font-size: 12px;
    }

    .hero-btn {
        padding: 8px 10px;
        font-size: 15px;
    }

    .nav-links ul li {
        display: block;
    }

    nav .fa-solid {
        display: block;
        margin: 10px;
        font-size: 20px;
        color: #fff;
        cursor: pointer;
    }

    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }

    .nav-links ul {
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

}


/* Course section */

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:100px ;
}


.row{
    display: flex;
    justify-content: space-between;
    margin-top:5% ;

}

.course-col{
    flex-basis: 31%;
    box-sizing: border-box;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px ;
    transition: 0.5s;
}

.course-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

@media  (max-width:700px) {
    .row{
        flex-direction: column;
    }
    
}


/* our campus */

.Campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px;

}

.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    
}
.campus-col img{
    width: 100%;
    height: 300px;
    display: block;
}

.layer{
    background-color:transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 0.5s;
    color: #fff;
}

.layer:hover{
      background-color: rgba(256, 0, 0, 0.7);

}

.layer h3{
    width: 100%;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    left:50%;
    bottom:0;
    transform: translateX(-50%);
    position:absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}


/* ----Our Facilities---- */

.facilities{
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 100px;
}
.facilities h1{
    font-size: 35px;
    font-weight: 600;
}
.facilities p{
     font-size: 14px;
    color: #777;
    line-height: 20px;
    padding: 10px;

}

.facilities-col{
    flex-basis: 31%;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 5%;
}

.facilities-col img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.facilities-col p{
    padding: 0;
}

.facilities-col h2{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}